/**
* {{{description}}}
{{#vars}}
    * @param {{{name}}} {{{description}}}
{{/vars}}
*/
import kotlinx.serialization.Serializable


@Serializable
data class {{classname}}(
    {{#vars}}
        val {{{name}}}: {{#isEnum}}{{{description}}}{{/isEnum}}{{^isEnum}}{{{datatype}}}{{/isEnum}}{{#isArray}}{{^isList}}<{{items.dataType}}>{{/isList}}{{/isArray}}{{^required}}? = null{{/required}},
    {{/vars}}
) {
}
