
import kotlinx.serialization.Serializable

/**
 * {{{description}}}
 *
{{#vars}}
 * @property {{{name}}} {{{description}}}
{{/vars}}
 */
@Serializable
data class {{classname}}(
    {{#vars}}
        val {{{name}}}:{{#isEnum}}{{{classname}}}.{{{nameInPascalCase}}}{{/isEnum}}{{^isEnum}}{{#lambda.convert_data_type_to_camel_case}}{{{dataType}}}{{/lambda.convert_data_type_to_camel_case}}{{/isEnum}}{{#isArray}}{{^isList}}<{{#lambda.convert_data_type_to_camel_case}}{{items.dataType}}{{/lambda.convert_data_type_to_camel_case}}>{{/isList}}{{/isArray}}{{^required}}? = null{{/required}},
    {{/vars}}
) {
{{#hasEnums}}
    {{#vars}}
{{#isEnum}}
    /**
    * {{{description}}}
    * Values: {{#allowableValues}}{{#enumVars}}{{&name}}{{^-last}},{{/-last}}{{/enumVars}}{{/allowableValues}}
    */
    enum class {{{nameInPascalCase}}}/*(val value: {{{dataType}}})*/{
    {{#allowableValues}}
        {{#enumVars}}
            {{&name}} /*({{{value}}})*/{{^-last}},{{/-last}}{{#-last}}{{/-last}}
        {{/enumVars}}
    {{/allowableValues}}
    }
{{/isEnum}}
    {{/vars}}
{{/hasEnums}}
}
