import kotlinx.serialization.SerialName

/**
* {{{description}}}
* Values: {{#allowableValues}}{{#enumVars}}{{&name}}{{^-last}},{{/-last}}{{/enumVars}}{{/allowableValues}}
*/
enum class {{classname}}(val value: String) {
{{#allowableValues}}{{#enumVars}}{{#enumDescription}}
    /**
    * {{.}}
    */
    {{/enumDescription}}
    @SerialName({{{value}}})
    {{&name}}({{{value}}}){{^-last}},{{/-last}}
{{/enumVars}}{{/allowableValues}}
}
