/**
* {{{description}}}
* Values: {{#allowableValues}}{{#enumVars}}{{&name}}, {{/enumVars}}{{/allowableValues}}
*/
//enum class {{classname}}(val value: {{dataType}}) {
enum class {{classname}} {
{{#allowableValues}}{{#enumVars}}
    {{{value}}}, // {{&name}}
{{/enumVars}}{{/allowableValues}}
}