package {{apiPackage}}

import io.ktor.application.*
import io.ktor.auth.*
import io.ktor.http.*
import io.ktor.response.*
{{#featureLocations}}
    import {{packageName}}.Paths
    import io.ktor.locations.*
{{/featureLocations}}
import io.ktor.routing.*
import {{packageName}}.infrastructure.ApiPrincipal
{{#imports}}import {{import}}
{{/imports}}

{{#operations}}
    {{#featureLocations}}
    {{/featureLocations}}
    fun Route.{{classname}}() {

    {{#operation}}
        {{#hasAuthMethods}}
            {{#authMethods}}
                authenticate("{{{name}}}") {
            {{/authMethods}}
        {{/hasAuthMethods}}
        {{#hasAuthMethods}}
                }
        {{/hasAuthMethods}}

   {{/operation}}
   }
{{/operations}}
